@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

html {
    scroll-behavior: smooth;
}

.background-home h1:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.top-nav {
    -webkit-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);

    position: absolute;
    width: 100%;
}

.background-home {
    background: linear-gradient(180deg, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 35%, rgba(0, 0, 0, .25) 100%), url(../img/background-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    padding: 50px 16px;
}

.background-home {
    color: #fff;
}

.background-home h1 {
    height: 300px;
}

.call-to-action-1 {
    background-color: #3c4049;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.call-to-action-1 p {
    color: #ffffff;
    font-weight: normal;
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
}

.call-to-action-1 a {
    color: #57cbf2;
    text-decoration: none;
}

.call-to-action-1 a:hover {
    opacity: .7;
}

.registers-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.businessman-register span {
    font-size: 2.5rem;
}

.freelancers-register span {
    font-size: 2.5rem;
}

.freelancers-register p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.businessman-register p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.freelancers-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}

.businessman-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.about-us {
    background-color: #3c4049;
    color: #ffffff;
}

.about-us .about-us-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
}

.about-us .about-us-title p {
    margin: 1rem .9rem;
    font-size: 1.2rem;
    text-align: center;
}

.about-us .about-us-title h1 {
    margin: 0;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-1 p {
    margin: 0 1rem;
}

.about-us-2 p {
    margin: 0 1rem;
}

.about-us-3 p {
    margin: 0 1rem;
}

.about-us-1 i {
    font-size: 4rem;
}

.about-us-2 i {
    font-size: 4rem;
}

.about-us-3 i {
    font-size: 4rem;
}

.about-us-1 {
    text-align: center;
    padding: 2rem 0;
}

.about-us-2 {
    text-align: center;
    padding: 2rem 0;
}

.about-us-3 {
    text-align: center;
    padding: 2rem 0;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #FF2C2C;
    height: 300px;
}

.call-to-action h3 {
    text-align: center;
    color: #fff;
    margin: 0 !important;
    padding: 0 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info img {
    width: 150px;
}

.important-links h3 {
    font-size: 1.4em;
    color: #555;
}

.important-links ul li {
    margin: .5rem 0;
}

.important-links ul li a {
    text-decoration: none;
}

.important-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer p {
    text-align: center;
}

.important-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.call-to-action-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action-footer p {
    width: 310px;
}

footer p a {
    text-decoration: none;
    color: #FF2C2C;
}

footer {
    padding: 0 !important;
    background-color: #f2f1f1;
}

.rights-reserved {
    background-color: #dfdfdf;
    margin: 0;
    padding: .5rem;
}

.content-wrap {
    padding: 3rem 0;
}

.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-title img {
    width: 150px;
}

.form-choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.form-choices div label {
    font-weight: bold;
}

.header-form-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-form-register h5 {
    font-weight: bold;
}

.rigister-header img {
    width: 250px;
}


/* Formulario Material Início */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.material-form {
    text-align: center;
}

.material-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #2196F3;
    outline: none;
    font-size: 16px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 16px;
    color: #888;
}

.input-container input:focus+label, .input-container input:valid+label {
    top: -20px;
    font-size: 12px;
    color: #2196F3;
}

.custom-button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #0b7dda;
}

/* Estilize o container do botão */
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #ff2c2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Esconda o input de arquivo subjacente */
.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Estilize o texto do botão */
.file-input-text {
    display: inline-block;
    margin-right: 10px;
}

/* Estilize o ícone (opcional) */
.file-input-icon::before {
    content: "\f0c7";
    /* Use o código Unicode do ícone desejado, por exemplo, um ícone de arquivo */
    font-family: FontAwesome;
    /* Use a fonte de ícones desejada (exemplo: FontAwesome) */
    margin-right: 5px;
}
/* Formulario Material Final */

.btn-danger-braid {
    background-color: #ff2c2c;
    color:#fff;
}

.btn-danger-braid:hover {
    background-color: #e02929;
    color:#fff;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    list-style-type: none;
    padding-left: 0;
}

.conditions li {
    margin-bottom: 10px;
    font-size:12px;
}

/* Estilos CSS para os ícones */
.checkmark {
    color: green;
    margin-right: 5px;
}

.cross {
    color: red;
    margin-right: 5px;
}

.eye-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.eye-icon:hover {
    cursor:pointer;
}

@media screen and (min-width: 1200px) {

    footer p a {
        color: #3c4049;
    }

    footer p a {
        text-decoration: none;
    }

    footer p a:hover {
        color: #FF2C2C;
    }

    .call-to-action-footer p {
        text-align: left;
    }

    .call-to-action-footer {
        align-items: baseline;
        width: 38.33%;
    }

    .important-links ul li a:hover {
        color: #FF2C2C;
    }

    .important-links {
        width: 23.33%;
        align-items: baseline;
        padding: 0;
    }

    .contact-info {
        width: 38.33%;
    }

    .contact-info img {
        width: 250px;
    }

    .content-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .call-to-action {
        height: 200px;
    }

    .call-to-action h3 {
        padding: 0;
    }

    .about-us {
        height: 460px;
    }

    .about-us .about-us-title p {
        margin: 0;
    }

    .about-us-1 {
        width: 33.33%;
    }

    .about-us-2 {
        width: 33.33%;
    }

    .about-us-3 {
        width: 33.33%;
    }

    .about-us-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 5rem;
    }

    .businessman-register {
        width: 50%;
    }

    .freelancers-register {
        width: 50%;
        border-right: 1px solid #ccc;
    }

    .registers-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #ffffff;
    }

    .call-to-action-1 p {
        width: auto;
    }

    .background-home {
        background: linear-gradient(180deg, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 35%, rgba(0, 0, 0, .25) 100%), url(../img/background-home.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position-y: top;
        background-repeat: no-repeat;
        padding: 300px 16px;
    }

    .container-btn {
        margin-top: 7rem;
        position: absolute;
        left: 0;
        right: 0;
    }

    .background-home h1 {
        font-size: 3rem;
        position: absolute;
        top: 15rem;
    }

    .container-login a:hover+.underline-login {
        width: 3rem;
    }

    .underline-login {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-login a {
        text-decoration: none;
    }

    .container-register a:hover+.underline-register {
        width: 6rem;
    }

    .underline-register {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-register a {
        text-decoration: none;
    }

    .container-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-about a:hover+.underline-about {
        width: 3rem;
    }

    .underline-about {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-about a {
        text-decoration: none;
    }

    .container-home a:hover+.underline-home {
        width: 3rem;
    }

    .underline-home {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-home a {
        text-decoration: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        background: url(../img/icon-rbg.png);
        background-repeat: no-repeat;
    }

    .logo-braid {
        background-color: transparent;
    }

    .logo-link:hover {
        background-color: transparent !important;
    }
}