@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

html {
    scroll-behavior: smooth;
}

.background-home h1:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.top-nav {
    -webkit-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);

    position: absolute;
    width: 100%;
    z-index: 1;
}

.background-home {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 35%, rgba(0, 0, 0, .25) 100%), url(../img/background-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    padding: 50px 16px;
}

.background-home {
    color: #fff;
}

.background-home h1 {
    height: 300px;
}

.call-to-action-1 {
    background-color: #3c4049;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.call-to-action-1 p {
    color: #ffffff;
    font-weight: normal;
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
}

.call-to-action-1 a {
    color: #57cbf2;
    text-decoration: none;
}

.call-to-action-1 a:hover {
    opacity: .7;
}

.registers-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.businessman-register span {
    font-size: 2.5rem;
}

.freelancers-register span {
    font-size: 2.5rem;
}

.freelancers-register p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.businessman-register p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.freelancers-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}

.businessman-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.about-us {
    background-color: #3c4049;
    color: #ffffff;
}

.about-us .about-us-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
}

.about-us .about-us-title p {
    margin: 1rem .9rem;
    font-size: 1.2rem;
    text-align: center;
}

.about-us .about-us-title h1 {
    margin: 0;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-1 p {
    margin: 0 1rem;
}

.about-us-2 p {
    margin: 0 1rem;
}

.about-us-3 p {
    margin: 0 1rem;
}

.about-us-1 i {
    font-size: 4rem;
}

.about-us-2 i {
    font-size: 4rem;
}

.about-us-3 i {
    font-size: 4rem;
}

.about-us-1 {
    text-align: center;
    padding: 2rem 0;
}

.about-us-2 {
    text-align: center;
    padding: 2rem 0;
}

.about-us-3 {
    text-align: center;
    padding: 2rem 0;
}

.call-to-action {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #FF2C2C;
    height: 300px;
}

.call-to-action h3 {
    text-align: center;
    color: #fff;
    margin: 0 !important;
    padding: 0 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info img {
    width: 150px;
}

.important-links h3 {
    font-size: 1.4em;
    color: #555;
}

.important-links ul li {
    margin: .5rem 0;
}

.important-links ul li a {
    text-decoration: none;
}

.important-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer p {
    text-align: center;
}

.important-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.call-to-action-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action-footer p {
    width: 310px;
}

footer p a {
    text-decoration: none;
    color: #FF2C2C;
}

footer {
    padding: 0 !important;
    background-color: #f2f1f1;
}

.rights-reserved {
    background-color: #dfdfdf;
    margin: 0;
    padding: .5rem;
}

.content-wrap {
    padding: 3rem 0;
}

.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-title img {
    width: 150px;
}

.form-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.form-choices div label {
    font-weight: bold;
}

.header-form-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-form-register h5 {
    font-weight: bold;
}

.rigister-header img {
    width: 250px;
}

/* Estilize o container do botão */
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #ff2c2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Esconda o input de arquivo subjacente */
.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Estilize o texto do botão */
.file-input-text {
    display: inline-block;
    margin-right: 10px;
}

/* Estilize o ícone (opcional) */
.file-input-icon::before {
    content: "\f0c7";
    /* Use o código Unicode do ícone desejado, por exemplo, um ícone de arquivo */
    font-family: FontAwesome;
    /* Use a fonte de ícones desejada (exemplo: FontAwesome) */
    margin-right: 5px;
}

.btn-danger-braid {
    background-color: #ff2c2c;
    color: #fff;
}

.btn-danger-braid:hover {
    background-color: #e02929;
    color: #fff;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    list-style-type: none;
    padding-left: 0;
}

.conditions li {
    margin-bottom: 10px;
    font-size: 12px;
}

/* Estilos CSS para os ícones */
.checkmark {
    color: green;
    margin-right: 5px;
}

.cross {
    color: red;
    margin-right: 5px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.eye-icon:hover {
    cursor: pointer;
}

.photo-preview {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.photo-preview img {
    width: 100%;
    height: auto;
    display: block;
}


.error-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-container h1 {
    font-size: 100px;
    margin: 0;
    color: #333;
}

.error-container p {
    font-size: 24px;
    color: #555;
    margin: 0;
}

.error-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.container-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container-message h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
}

.popop-cookies {
    position: fixed;
    background-color: #3c4049;
    width: 100%;
    bottom: 0;
}

.popop-cookies p {
    padding: 0 2%;
    color: #ffffff;
}

.container-popop-buttons {
    padding: .5% 2%;
}

.box-1 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
}

.box-2 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
    background-position: 0 80%;
}

.box-3 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.box-4 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
    background-position: 0 60%;
}

.box-5 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
    background-position: 0 40%;
}

.box-6 {
    background: url(../img/freelancers-kind.jpg);
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.box {
    position: relative;
    width: 276px;
    height: 192px;
    margin-top: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box p {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    width: 60%;
    cursor: default;
}

.designers-type {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designers-type h2 {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.privacy-policy-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20% 5%;
    text-align: center;
}

.form-check {
    padding: 0;
}

.login-logo a img {
    width: 250px;
}

.btn-login {
    position: absolute;
    right: 5.5%;

    width: 150px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-logo {
    position: relative;
    width: 100%;
    height: 50px;
}

.container-logo img {
    width: 150px;
    opacity: .8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.load-new-projects {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.warning-empty-registers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-search-project {
    padding: 0 1rem;
}

.sample-format-link {
    text-decoration: none !important;
    color: #ffffff !important;
}

.project-detail {
    text-decoration: none !important;
    color: #ffffff !important;
}

.make-a-proposal {
    width: 100%;
    text-transform: uppercase;
}

.tooltip-candidates-freelancer {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip-candidates-freelancer:hover::before {
    content: "Total de candidatos para este projeto";
    white-space: nowrap;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-candidates-freelancer:hover::before {
    opacity: 1;
}

.container-footer-callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.buttons-callout-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-callout-projects a {
    margin: .5rem 0;
}

.check-mark-candidate {
    width: 50px;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 1rem;
}

.alert-already-make-proposal {
    text-transform: uppercase;
    text-align: center;
}

.photo-designer {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.container-designer {
    display: flex;
    flex-direction: row;
}

.description-data-designer p {
    margin-left: 1rem;
}

.description-data-designer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.designer-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.designer-data p {
    font-size: .8rem;
    margin-top: 0.2rem;
    font-style: italic;
    font-weight: bold;
    color: #7c7a7a;
    text-align: center;
}

.load-candidates-on-demand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.see-profile {
    text-decoration: none !important;
    color: #ffffff !important;
}

.stars input[type=radio] {
    display: none;
}

.stars label i.fa {
    font-size: 1em;
}

.pointer label i.fa {
    cursor: pointer;
}

.stars label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.stars input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.stars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stars-container-evaluate {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.load-evaluation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

@media screen and (min-width: 1200px) {

    .container-footer-callout {
        flex-direction: row;
        justify-content: space-around;
    }

    .buttons-callout-projects {
        display: flex;
        flex-direction: row;
    }

    .buttons-callout-projects a {
        margin: 0 .5rem;
    }

    .check-mark-candidate {
        width: 100px;
    }

    .container-message {
        padding: 200px;
    }

    .container-message h1 {
        font-size: 2rem;
        margin: 0;
    }

    .form-check {
        padding-left: 1.5rem;
    }

    .form-choices {
        flex-direction: row;
        justify-content: space-around;
    }

    .error-container {
        padding: 200px;
    }

    .privacy-policy-container {
        padding: 7%;
        text-align: justify;
    }

    .designers-type h2 {
        width: 100%;
        font-size: 2rem;
    }

    .designers-type .grid {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    .box {
        margin: .5%;
    }

    .box p {
        transition: margin-top ease .3s;
    }

    .box:hover p {
        margin-top: -1rem;
    }

    footer p a {
        color: #3c4049;
    }

    footer p a {
        text-decoration: none;
    }

    footer p a:hover {
        color: #FF2C2C;
    }

    .call-to-action-footer p {
        text-align: left;
    }

    .call-to-action-footer {
        align-items: baseline;
        width: 38.33%;
    }

    .important-links ul li a:hover {
        color: #FF2C2C;
    }

    .important-links {
        width: 23.33%;
        align-items: baseline;
        padding: 0;
    }

    .contact-info {
        width: 38.33%;
    }

    .contact-info img {
        width: 250px;
    }

    .content-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .call-to-action {
        margin-top: 1.5%;
        height: 200px;
    }

    .call-to-action h3 {
        padding: 0;
    }

    .about-us {
        height: 460px;
    }

    .about-us .about-us-title p {
        margin: 0;
    }

    .about-us-1 {
        width: 33.33%;
    }

    .about-us-2 {
        width: 33.33%;
    }

    .about-us-3 {
        width: 33.33%;
    }

    .about-us-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 5rem;
    }

    .businessman-register {
        width: 50%;
    }

    .freelancers-register {
        width: 50%;
        border-right: 1px solid #ccc;
    }

    .registers-view {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #ffffff;
    }

    .call-to-action-1 p {
        width: auto;
    }

    .background-home {
        background: linear-gradient(180deg, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 35%, rgba(0, 0, 0, .25) 100%), url(../img/background-home.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position-y: top;
        background-repeat: no-repeat;
        padding: 300px 16px;
    }

    .container-btn {
        margin-top: 7rem;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }

    .background-home h1 {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .container-login a:hover+.underline-login {
        width: 3rem;
    }

    .underline-login {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-login a {
        text-decoration: none;
    }

    .container-register a:hover+.underline-register {
        width: 6rem;
    }

    .underline-register {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-register a {
        text-decoration: none;
    }

    .container-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-about a:hover+.underline-about {
        width: 3rem;
    }

    .underline-about {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-about a {
        text-decoration: none;
    }

    .container-home a:hover+.underline-home {
        width: 3rem;
    }

    .underline-home {
        width: 0;
        transition: width .5s ease;
        height: .2rem;
        background-color: #FF2C2C;
    }

    .container-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-home a {
        text-decoration: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        background: url(../img/icon-rbg.png);
        background-repeat: no-repeat;
    }

    .logo-braid {
        background-color: transparent;
    }

    .logo-link:hover {
        background-color: transparent !important;
    }
}